---
import "../styles/global.css";
import "../styles/about.css";


import City from "../components/CityInput.astro";
import Weather from "../components/Weather.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
	

    <!-- Page Buttons -->
	<nav class="nav">
		<ul class="nav-list">
			<li><button class="btn"><a href="/" class="nav-link">Home</a></button></li>
			<li><button class="btn"><a href="/about" class="nav-link">Weather</a></button></li>
		</ul>
	</nav>
    <!-- City -->
	<City />
	<!-- Weather -->
	<Weather />
</body>
</html>