---
Astro.props.pageTitle = "About";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>About the Developers</h1>
	<div class="team-container">
		<div class="team-member">
			<h2>Ethan Crawford</h2>
			<img src="placeholder.jpg">
			<br />
			<p>My name is Ethan, and I’m originally from Spokane, WA. I hold a Bachelor of Science in Computer Science with a minor in Music—a unique combination that reflects my love for both technology and the arts.</p>
			<p>In my free time, I enjoy developing small applications and exploring open-source repositories on GitHub to expand my skills and stay inspired. Music is also a big part of my life; I compose my own pieces and am a semi-professional Oboist. I’ve had the privilege of performing with the Spokane Jazz Orchestra and various ensembles at Eastern Washington University. Outside of work and music, I’m a proud husband and father, and my family is at the center of everything I do.</p>
			
		</div>
		<div class="team-member">
			<h2>Jared Diaz</h2>
			<img src="placeholder.jpg">
			<br />
			<p>Bio goes here.</p>
		</div>
		<div class="team-member">
			<h2>Daniel Montes</h2>
			<img src="placeholder.jpg">
			<br />
			<p>My name is Daniel and I am originally from Prosser, Washington. I’m currently a Senior at Eastern Washington University, working toward my Bachelor of Computer Science (BCS) with minors in Spanish, Communications, and Cybersecurity. After graduation, I plan to pursue a career in software or web development, as that’s where I feel most confident and passionate.</p>
			<p>I’m a huge sports fan and love watching the Boston Celtics and San Francisco 49ers whenever their games are on. I also enjoy collecting sneakers, especially retro pairs of Jordans and Nikes, shoes have always been a passion of mine.</p>
			<p>When I’m not coding or working on projects, you’ll usually find me diving into my favorite hobbies, like playing video games, watching movies, or hanging out with friends. I’m always up for a good time, whether it’s on the court, in front of a screen, or just hanging with the people I care about.</p>
		</div>
	</div>
	<style>
		.team-container {
			display: flex;
			justify-content: space-between;
		}
		.team-member {
			text-align: center;
			width: 30%;
		}
		.team-member img {
			width: 100%;
			height: auto;
		}
	</style>	
</Layout>