---
Astro.props.pageTitle = "About";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>About the Developers</h1>
	<div class="team-container">
		<div class="team-member">
			<img src="placeholder.jpg" alt="Developer 1/3">
			<h2>Ethan Crawford</h2>
			<p>Bio goes here.</p>
		</div>
		<div class="team-member">
			<img src="placeholder.jpg" alt="Developer 2/3">
			<h2>Jared Diaz</h2>
			<p>Bio goes here.</p>
		</div>
		<div class="team-member">
			<img src="placeholder.jpg" alt="Developer 3/3">
			<h2>Daniel Montes</h2>
			<p>My name is Daniel and I am originally from Prosser Washington. I’m currently a Senior at Eastern Washington University, where I’m working toward my Bachelor of Computer Science (BCS) with minors in Spanish, Communications, and Cybersecurity. After graduation I would like to get into Software or Web development because there is where I feel the most confident.</p>
			<p>When I’m not coding or working on projects, you’ll usually find me diving into my favorite hobbies such as playing video games, watching movies, or hanging out with my friends.</p>
			<p>I am a huge sports fan I love watching the Boston Celtics and San Francisco 49ers whenever there are games on. I also enjoy collecting sneakers such as retro pairs of Jordans and Nikes.</p>
		</div>
	</div>
	<style>
		.team-container {
			display: flex;
			justify-content: space-between;
		}
		.team-member {
			text-align: center;
			width: 30%;
		}
		.team-member img {
			width: 100%;
			height: auto;
		}
	</style>	
</Layout>