---
import "../styles/global.css";
import "../styles/about.css";
import Layout from "../layouts/Layout.astro";
---
  
<Layout>
	<!-- Page Buttons -->
	<nav class="nav">
		<ul class="nav-list">
			<li><button class="btn"><a href="/" class="nav-link">Home</a></button></li>
			<li><button class="btn"><a href="/about" class="nav-link">About</a></button></li>
		</ul>
	</nav>
	<!-- style="margin-top: 30px; display: flex; justify-content: center; align-items: center; flex-direction: column;" -->
	<div>
		<!-- City -->
		<City />
		<!-- Weather -->
		<Weather />
	</div>
</Layout>