---
Astro.props.pageTitle = "About";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>About the Developers</h1>
	<div class="team-container">
		<div class="team-member">
			<img src="placeholder.jpg" alt="Team Member 1">
			<h2>Ethan</h2>
			<p>Bio for team member 1.</p>
		</div>
		<div class="team-member">
			<img src="placeholder.jpg" alt="Team Member 2">
			<h2>Member 2</h2>
			<p>Bio for team member 2.</p>
		</div>
		<div class="team-member">
			<img src="placeholder.jpg" alt="Team Member 3">
			<h2>Member 3</h2>
			
</Layout>