---
const title = "About Us";
import "../styles/global.css";
import "../styles/about.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>

    <!-- Page Buttons -->
	<nav class="nav">
		<ul class="nav-list">
			<li><button class="btn"><a href="/" class="nav-link">Home</a></button></li>
			<li><button class="btn"><a href="/about" class="nav-link">Weather</a></button></li>
		</ul>
	</nav>
    <header>
        <h1>About Our Garden Website</h1>
    </header>
    <main>
        <p>Here is a little about us the creators of the website.</p>
    </main>
    <footer>
        <p>&copy; 2025 Garden Website</p>
    </footer>
</body>
</html>