---
Astro.props.pageTitle = "Create Account";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../js/createAccount.js";
---

<Layout>
  <h1>Create Account</h1>
  <form id="createAccountForm" action="#">
    <br />
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname" required />
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" required />
    <label for="email">Email:</label>
    <input
      type="text"
      id="email"
      name="email"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
    />
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required />
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      pattern="(?=.*[A-Z]).{8,}"
    />
    <label for="confirmpassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmpassword"
      name="confirmpassword"
      required
      pattern="(?=.*[A-Z]).{8,}"
    />
    <br />
    <button type="submit">Submit</button>
  </form>

  <script type="module" src="../js/createAccount.js"></script>
</Layout>
