---
Astro.props.pageTitle = "Groups";

const url = new URL(Astro.url);
const gid = url.searchParams.get('gid');

// Components
import Layout from '../layouts/Layout.astro';
import PostFeed from "../components/PostFeed.astro"
import NewPost from '../components/NewPost.astro';
import NewGroup from '../components/NewGroup.astro';
import GroupInfo from '../components/GroupInfo.astro';
import JoinGroup from '../components/JoinGroup.astro'
import Invite from '../components/Invite.astro'
import GroupMembership from '../components/GroupMembership.astro'
---

<Layout>
    <div class="grid-container">
        <!-- Left Column: Group Creation / Current Group Info -->
        <div class="left-column">
            <NewGroup />
            <GroupInfo gid={gid}/>
        </div>
        
        <!-- Center Column: Group Post Feed -->
        <div class="center-column">
            <NewPost />
            <PostFeed />
        </div>

        <!-- Right Column: Group Membership -->
        <div class="right-column">
            <JoinGroup />
            <Invite gid={gid} />
            <GroupMembership uid={uid} />
        </div>
    </div>
</Layout>
