---
Astro.props.pageTitle = "Groups";

// Components
import Layout from '../layouts/Layout.astro';
import Weather from "../components/Weather.astro";
import City from "../components/CityInput.astro";
import Plant from "../components/Plant.astro";
import PlantInfo from "../components/plantInfo.astro";
import PostFeed from "../components/PostFeed.astro"
import NewPost from '../components/NewPost.astro';
---

<Layout>
    <div class="grid-container">
        <!-- Left Column: Plant Info -->
        <div class="left-column">
            <!-- <NewGroup />
            <GroupInfo /> -->
        </div>
        
        <!-- Center Column: Post Feed -->
        <div class="center-column">
            <NewPost />
            <PostFeed />
        </div>

        <!-- Right Column: City Info -->
        <div class="right-column">
            <!-- <GroupMembership /> -->
        </div>
    </div>
</Layout>


