---
import "../styles/global.css";
import "../styles/index.css";

// Components
import Date from '../components/Date.astro';
import Time from '../components/Time.astro';
import City from '../components/CityInput.astro';
import Weather from '../components/Weather.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Astro Project</title>
</head>
<body>

	<!-- Date -->
	<Date />
	<!-- Time -->
	<Time />
	<!-- City -->
	<City />
	<!-- Weather -->
	<Weather />
</body>
</html>
