---
import "../styles/global.css";
import "../styles/index.css";

// Components
import Date from '../components/Date.astro';
import Time from '../components/Time.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Astro Project</title>
</head>
<body>
	<!-- Page Buttons -->
	<nav class="nav">
		<ul class="nav-list">
			<li><button class="btn no-outline"><a href="/" class="nav-link">Home</a></button></li>
			<li><button class="btn no-outline"><a href="/about" class="nav-link">Weather</a></button></li>
		</ul>
	</nav>

	<!-- Date -->
	<Date />
	<!-- Time -->
	<Time />
</body>
</html>
