---
import "../styles/global.css";
import "../styles/index.css";
const pageTitle = "Home Page";

// Components
import Date from '../components/Date.astro';
import Time from '../components/Time.astro';
import Layout from '../layouts/Layout.astro';
import Weather from "../components/Weather.astro";
import City from "../components/CityInput.astro";
---

<Layout>
	<!-- Page Buttons -->
	<nav class="nav">
		<ul class="nav-list">
			<li><button class="btn no-outline"><a href="/" class="nav-link">Home</a></button></li>
			<li><button class="btn no-outline"><a href="/about" class="nav-link">About</a></button></li>
		</ul>
	</nav>
	<!-- Date -->
	<Date />
	<!-- Time -->
	<Time />
</Layout>
