---
Astro.props.pageTitle = "Login";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---
<Layout>
    <!-- Page Buttons -->
    <h1>Account Login:</h1>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <script>
        /**
         * hashPassword hashes the password
         * @param password - The password to hash.
         */
        async function hashPassword(password: FormDataEntryValue | undefined) {
            const encoder = new TextEncoder();
            const data = encoder.encode(password as string);
            const hashBuffer = await crypto.subtle.digest("SHA-256", data);
            return Array.from(new Uint8Array(hashBuffer))
            .map((b) => b.toString(16).padStart(2, "0"))
            .join("");
        }
        
        /**
         * handleSubmit handles the form submission
         * @param event - The event object.
         * @returns {Promise<void>} - A promise that resolves when the form is submitted.
         */
        async function handleSubmit(event: {
            preventDefault: () => void;
            target: any;
            }) {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            // Hash the password
            data.hashpass = await hashPassword(data.password);

            // Remove the password from the data object
            delete data.password;

            //console.log(data);

            //Send data to the Astro API route
            const response = await fetch("https://cscd488group3-bloombuddy.netlify.app/.netlify/functions/login", {
            // USE THIS LINE FOR LOCAL TESTING
            // const response = await fetch("/api/createAccount", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(data),
                credentials: "include"
            });

            const result = await response.json();
            //console.log(result);

            if (response.ok) {
                window.location.href = `/dashboard?i=${encodeURIComponent(result.session as string)}`;
            } else {
                alert(`Error: ${result.error}`);
            }
        }

        const form = document.getElementById("loginForm");
        if (form) {
            form.addEventListener("submit", handleSubmit);
        } else {
            console.error("Form not found");
        }
    </script>
</Layout>