---
import { redirect } from 'astro:redirect';
import Layout from '../layouts/Layout.astro';

export async function get() {
    // Delete the cookie by setting it to an empty value and expiring it
    return redirect('/', {
        headers: {
            'Set-Cookie': 'session=; Path=/; HttpOnly; Max-Age=0',
        },
    });
}
---
<Layout>
    <h1>Please Wait while Logging out</h1>
</Layout>
    