---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>Please Wait while Logging out</h1>
</Layout>

<script>
  fetch('https://cscd488group3-bloombuddy.netlify.app/.netlify/functions/logout', { method: 'POST' })
    .then(() => {
      setTimeout(() => {
        window.location.href = '/';
      }, 2000);
    });
</script>
