---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Sending Email Nofitication...</h1>
</Layout>

<script>
  const data = {
    subject: 'Test Dynamic Population',
    emailBody: 'Lorem ipsum dolor sit amet'
  }

  fetch(
    "https://cscd488group3-bloombuddy.netlify.app/.netlify/functions/notify",
    {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
      credentials: "include",
    }
  ).then(() => {
    setTimeout(() => {
      window.location.href = "/";
    }, 2000);
  });
</script>
