---

---

<br>
<section id="groupInfo" class="backdrop-blur-md bg-[#56b9064d]">
  <h1>Group Info</h1>
  <div class="info-row">
    <strong>Group ID:</strong>
    <span class="right">
      Sample
      <!-- {gid} -->
    </span>
  </div>
  <div class="info-row">
    <strong>Group Name:</strong>
    <span class="right">
      Sample
      <!-- {groupInfo[0]?.gname} -->
    </span>
  </div>
  <div class="info-row">
    <strong>Visibility:</strong>
    <span class="right">
      Sample
      <!-- {groupInfo[0]?.priv} -->
    </span>
  </div>
  <div class="info-row">
    <strong>Creator:</strong>
    <!-- <GroupCreator /> -->
  </div>
  <div class="info-row">
    <strong>Admins:</strong>
    <!-- <GroupAdmins /> -->
  </div>
  <div class="info-row">
    <strong>Moderators:</strong>
    <!-- <GroupMods /> -->
  </div>
  <div class="info-row">
    <strong>Members:</strong>
    <!-- <GroupMembers /> -->
  </div>
</section>
