---
const { gid } = Astro.props;
const res = await fetch('https://cscd488group3-bloombuddy.netlify.app/.netlify/functions/getGroupMembersByRole', {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({gid , role_g: 0 }),
        });
const data = await res.json();
console.log("(GroupInfo.astro): ", data);
---

<ul>
  {data.map((creator: { fname: unknown; lname: unknown; uid: unknown; }) => (
    <li>
      {creator.fname} {creator.lname} ({creator.uid})
    </li>
  ))}
</ul>