---

---

<br>
<section id="invite" class="backdrop-blur-md bg-[#56b9064d]">
    <h1 id="inviteHeader">Send an Invite</h1>
    <form id="inviteForm">
        <input type="text" id="uid" name="uid" placeholder="Enter a User ID..." required />
        
        <button class="" type="submit">Invite to Group</button>
    </form>
</section>