---

---

<br>
<section id="joinGroup" class="backdrop-blur-md bg-[#56b9064d]">
    <h1 id="joinGroupHeader">Join a Group</h1>
    <form id="joinGroupForm">
        <input type="text" id="gid" name="gid" placeholder="Enter Group ID..." required />
        
        <button class="" type="submit">Join Group</button>
    </form>
</section>