---

---
<br>
<section id="createGroup" class="backdrop-blur-md bg-[#56b9064d]">
    <h1 id="createGroupHeader">Create a Group</h1>
    <form id="createGroupForm">
        <input type="text" id="groupName" name="groupName" placeholder="Name the group" required />
        
        <select id="priv" class="backdrop-blur-md border rounded-sm bg-gray-300">
              <option value="0">Public</option>
              <option value="1">Private</option>
        </select>
        
        <button class="" type="submit">Create Group</button>
    </form>
</section>