---
const { pageTitle } = Astro.props;
import "../styles/global.css";
import Date from "../components/Date.astro";
import Time from "../components/Time.astro";
import { getSession } from "../utils/getSession";

const { user, session } = await getSession(Astro);
const username = user ? `User ${user.id}` : "Guest";
---


<!-- This file containes the base layout for pages on the Bloom Buddy website. It includes the header, footer, and a slot for page content. The header contains the logo, date, time, and a navigation bar. The footer contains copyright information. -->
<!doctype html>
<html lang="en">	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- dynamically populated title -->
		<title>{pageTitle}</title>
	</head>
	<body>
		<header>
			<!-- needs to overwrite global.css for now
			 		may fix in the future -->
			<div style="display: flex;
						justify-content: center;
						align-items: center;
						gap: 0.625em;
						margin: 0;
						padding: 0;">
				<img src="/bloom_buddy1.png" 
				     alt="logo"
					 style="width: 3em;
							height: auto;
							margin: 0;
							padding: 0;" />
				<h1 class="logo">Bloom Buddy</h1>
			</div>

			<!-- Date and Time horizontally aligned and centered -->
			<div style="display: flex; 
						align-items: center; 
						justify-content: center; 
						gap: 0.625em;
						margin: 0;
						padding: 0;
						font-size: .8em;
    					font-weight: normal;">
				<!-- Date -->
				<Date/>
				<!-- Time -->
				<Time/>
			</div>

			<div>Logged in as: {username}</div>
			
			<!-- the right side of the header contains the navbar -->
			<nav class="nav">
				<ul class="nav-list">
					<li><button class="btn no-outline"><a href="/" class="nav-link">Home</a></button></li>
					<!-- <li><button class="btn no-outline"><a href="/feed" class="nav-link">Feed</a></button></li> -->
					<li><button class="btn no-outline"><a href="/about" class="nav-link">About</a></button></li>
					{user ? (
						<>
							<li><button class="btn no-outline"><a href="/accountInfo" class="nav-link">Profile</a></button></li>
							<li><button class="btn no-outline"><a href="/logout" class="nav-link">Logout</a></button></li>
						</>
					) : (
						<>
							<li><button class="btn no-outline"><a href="/login" class="nav-link">Login</a></button></li>
							<li><button class="btn no-outline"><a href="/createAccount" class="nav-link">Create Account</a></button></li>
						</>
					)}
				</ul>
			</nav>
			
		</header>

		<slot /> <!-- This is where the page content will be injected -->
		
		<!-- footer -->
		<footer>
			<p class="copyright">© 2025 Bloom Buddy. All rights reserved.</p>
		</footer>
	</body>
</html>

<!-- overwrite style -->
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
